body {
    margin: 0;
    padding: 0;
    background: lightgray;
}

section {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    max-width: 900px;
    font-family: sans-serif;
    background-color: white;
}

article {
    display: flex;
    background-color: gray;
    margin: 1rem;
    padding: 1rem;
}

article figure {
    order: -1;
    margin: 0 2rem 0 0;
    max-width: 20%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

article figure img {
    max-width: 100%;
}