@import url('https://fonts.googleapis.com/css?family=Roboto');
header h1 {
    /*  Color del texto. Se hereda*/
    color: rebeccapurple;
    /*  El tipo del texto. Si no se especifica, utiliza las instaladas en el equipo. */
    /*  Tipografías genéricas: serif, sans-serif, monospace, fantasy, cursive, */
    font-family: monospace;
    /*  Tamaño del texto, h1 es de 2rem */
    font-size: 4rem;
    /* El tipo de la fuente. Itelica, negrita,   */
    font-style: italic;
    /*  Establecer una sombra, necesita el desplazamiento horizontal, desp. vert., difumine, color  */
    text-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
    /* Centra el texto con respecto a su caja */
    text-align: center;
    /* Separeción entre caracteres. */
    letter-spacing: -6px;
    /* Separeción entre palabras */
    word-spacing: 3rem;
}

p {
    /* Normal, en negrita, bolder, ligth, ... Se le puede dar un valor numérico entre 100 y 900, de 100 en 100*/
    font-weight: bold;
    /*  pasar a mayusculas, a minisculas, capitalizadas, full-width */
    font-transform: uppercase;
    /*  Subrayado debajo, arriba o tachando */
    text-decoration: underline;
    /* Alto de linea */
    line-height: 2;
    /* Fuente importada de google fonts */
    font-family: 'Roboto', sans-serif;
}