header {
    background: lightcyan;
}

p.initial {
    background: lightcoral;
    margin: 2rem;
    /* el tamaño en relación al elemento html. Si en el padre tiene 5px, aqui serían 10px */
    padding: 10px;
    /* Tamaño fijo. */
    font-size: 2em;
    /* el tamaño en relación al elemento padre. Si el body tiene 14 con 2em, tendría 28 */
    border: 4px solid black;
    /* Viewport width. El total del ancho de la pantalla del navegador */
    width: 100vw;
    /* Viewport height. El total de la altura de la pantalla del navegador. */
    height: 20vh;
}

section {
    /* Los 3 primeros valores son los del rgb, y el 4 le indica la transparencia del color, entre 0-1 */
    background: rgba(35, 38, 160, 0.5);
    padding: 20px;
    font-size: 50px;
}

section p.otra {
    background: #00ff00;
    /* Es un porcentage del tamaño que viene heredado del padre. En este caso 50px el padre, 25px el hijo */
    font-size: 50%;
    color: rgb(166, 45, 223);
}